body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: left;
  }
  nav {
    display: flex;
    justify-content: right;
    background-color: #19104f;
    padding: 10px 0;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    margin: 0 20px;
    font-size: x-large;
    float: right;
    vertical-align: top;
    background-color:none;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
    padding: 5px;
  }
  nav a:hover {
    background-color: #c6acce;
    color: white;
}
#button {
  background-color:#19104f;
  transition: background-color 0.3s;
  border-radius: 10px;
  padding: 2px;
}

#button:hover {
  background-color:#19104f;
  color: #e9df72;
}


  .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px 0;
  }
  .icon {
    text-align: center;
    margin: 0 20px;
    
  }
  .icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  } 
  #src {
    display: flex;
    align-items: center;
}

#text {
    flex: 1;
    padding: 100px;

    margin-left: 100px;
}

#busan {
    flex: 1;
    padding: 20px;
}

#text h1,
#text h2 {
    margin: 0;
}

#src img {
    width: 40%;



}
#top{
  background-color: #19104f;
  color: white;
}
#design{ 
  background-color: #ddfae0;
  padding: 30px;
}
#research{
  background-color: #d1dfdf;
  padding: 30px;
}
#development{
  background-color: #e8e099;
  padding: 30px;
}
#marketing{
background-color: #c6acce;
padding: 30px;
}
#icons-container{
  align-items: center; 
}
  #our{

    text-align: center;
    text-decoration: solid;
  }              
  #view{
color: #f0e02a;
text-align: center;
font-size: x-large;

  }        
  footer{
    background-color:#19104f ;
  }                           
  #done{
    color: white;
    padding: 10px;
    font-size: x-large;
    text-align: center;
  }